* {
	outline: none !important;
}

html, body {
	height: 100%;
}

body {
	padding-top: 50px;
}

.content {
	padding: 40px 15px;
	/*text-align: center;*/
}

.main-query {
	padding: 0 120px;
}

.twitter-typeahead {
	width: 100%;
}

.motivation {
	text-align: center;
	margin-top: 50px;
}

#template {
	display: none;
}

.empty-message {
	padding: 5px;
}

.fields {
	display: none;
	margin-top: 40px;
}

.field {
	width: 250px;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	min-height: 243px;
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}

.field.empty {
	font-size: 80px;
	padding-top: 65px;
	opacity: 0.4;
	cursor: pointer;
	text-align: center;
}

.field.empty:hover {
	opacity: 0.6;
}

.field input,
.field .bootstrap-select,
.field .twitter-typeahead{
	width: 100% !important;
}

.checkout {
	display: none;
}

.price {
	margin-bottom: 3px;
	padding: 2px 5px;
}

.worth {
	background-color: #ffcccc;
}

.best {
	background-color: #e5ffe5;
}

.total {
	margin-top: 10px;
	padding: 2px 5px;
}
