<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- properties -->
    <context:property-placeholder location="classpath*:strings.properties"/>

    <context:component-scan base-package="com.takeatrip.service" />
    <context:component-scan base-package="com.takeatrip.getinfo" />

    <!-- MongoDB -->
    <import resource="mongo-config.xml" />

</beans>